<div class="connectWindow">
  <h2>Hard Core Radio</h2>
  <div class="loginWindow">
    <form method="POST">
      <input type="text" name="email" placeholder="Email" value="{{email}}" />
      <input type="text" name="password" placeholder="Password" />

      <button type="submit">Log In</button>
    </form>
    <div class="registerWindowMain">
      <span class="registerText">Dont have account? </span>
      <span class="registerBtn"><a href="/register">Register Here</a></span>

    </div>

  </div>
  <div class="MainSongsList">
  </div>
  <span class="registerBtn"><a href="/allSongs">ALL SONGS</a></span>

</div>