<div class="RegisterWindowInRegister">
  <h2>Register</h2>
  <div class="loginWindow">
    <form method="POST">
      <input type="text" name="name" placeholder="Name" value="{{name}}" />
      <input
        type="text"
        name="last_name"
        placeholder="Last name"
        value="{{last_name}}"
      />
      <input type="email" name="email" placeholder="Email" value="{{email}}" />
      <input type="password" name="password" placeholder="Password" />

      <button type="submit">Register</button>
    </form>
    <div class="registerWindow">
      <span class="registerBtn"><a href="/">Back</a></span>

    </div>

  </div>

</div>